In [36]:
import pandas as pd
import numpy as np
from ast import literal_eval

In [3]:
df = pd.read_csv('data/zomato_df_final_data.csv')
df.head()

,address,cost,cuisine,lat,link,lng,phone,rating_number,rating_text,subzone,title,type,votes,groupon,color,cost_2,cuisine_color
0,"371A Pitt Street, CBD, Sydney",50.0,"['Hot Pot', 'Korean BBQ', 'BBQ', 'Korean']",-33.876059,https://www.zomato.com/sydney/sydney-madang-cbd,151.207605,02 8318 0406,4.0,Very Good,CBD,Sydney Madang,['Casual Dining'],1311.0,False,#e15307,5.243902,#6f706b
1,"Shop 7A, 2 Huntley Street, Alexandria, Sydney",80.0,"['Cafe', 'Coffee and Tea', 'Salad', 'Poké']",-33.910999,https://www.zomato.com/sydney/the-grounds-of-a...,151.193793,02 9699 2225,4.6,Excellent,"The Grounds of Alexandria, Alexandria",The Grounds of Alexandria Cafe,['Café'],3236.0,False,#9c3203,7.560976,#6f706b
2,"Level G, The Darling at the Star, 80 Pyrmont ...",120.0,['Japanese'],-33.867971,https://www.zomato.com/sydney/sokyo-pyrmont,151.195210,1800 700 700,4.9,Excellent,"The Star, Pyrmont",Sokyo,['Fine Dining'],1227.0,False,#7f2704,10.650407,#6f706b
3,"Sydney Opera House, Bennelong Point, Circular...",270.0,['Modern Australian'],-33.856784,https://www.zomato.com/sydney/bennelong-restau...,151.215297,02 9240 8000,4.9,Excellent,Circular Quay,Bennelong Restaurant,"['Fine Dining', 'Bar']",278.0,False,#7f2704,22.235772,#4186f4
4,"20 Campbell Street, Chinatown, Sydney",55.0,"['Thai', 'Salad']",-33.879035,https://www.zomato.com/sydney/chat-thai-chinatown,151.206409,02 8317 4811,4.5,Excellent,Chinatown,Chat Thai,['Casual Dining'],2150.0,False,#a83703,5.630081,#6f706b

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   address        10500 non-null  object
 1   cost           10154 non-null  float64
 2   cuisine        10500 non-null  object
 3   lat            10308 non-null  float64
 4   link           10500 non-null  object
 5   lng            10308 non-null  float64
 6   phone          10500 non-null  object
 7   rating_number  7184 non-null   float64
 8   rating_text    7184 non-null   object
 9   subzone        10500 non-null  object
 10  title          10500 non-null  object
 11  type           10452 non-null  object
 12  votes          7184 non-null   float64
 13  groupon        10500 non-null  bool
 14  color          10500 non-null  object
 15  cost_2         10154 non-null  float64
 16  cuisine_color  10500 non-null  object
dtypes: bool(1), float64(6), object(10)
memory usage: 1.3+ MB

In [18]:
np.array(df.type[3])

['[',
 "'",
 'F',
 'i',
 'n',
 'e',
 ' ',
 'D',
 'i',
 'n',
 'i',
 'n',
 'g',
 "'",
 ',',
 ' ',
 "'",
 'B',
 'a',
 'r',
 "'",
 ']']

Index(['['Casual Dining']', '['Café']', '['Fine Dining']',
       '['Fine Dining', 'Bar']', '['Casual Dining', 'Dessert Parlour']',
       '['Fine Dining', 'Wine Bar']', '['Casual Dining', 'Wine Bar']',
       '['Casual Dining', 'Bar']', '['Fast Food']', '['Café', 'Bakery']',
       '['Casual Dining', 'Café']', '['Bar']', '['Bakery', 'Dessert Parlour']',
       '['Bar', 'Wine Bar']', '['Food Court']', '['Dessert Parlour', 'Café']',
       '['Bar', 'Casual Dining']', '['Bakery', 'Pub']',
       '['Café', 'Casual Dining']', '['Café', 'Bar']',
       '['Casual Dining', 'Pub']', '['Bakery', 'Café']', '['Food Truck']',
       '['Café', 'Dessert Parlour']', '['Dessert Parlour']', '['Pub']',
       '['Pub', 'Casual Dining']', '['Dessert Parlour', 'Bakery']',
       '['Café', 'Wine Bar']', '['Pub', 'Wine Bar']',
       '['Food Court', 'Casual Dining']', '['Wine Bar', 'Casual Dining']',
       '['Casual Dining', 'Food Court']', '['Club', 'Bar']',
       '['Casual Dining', 'Bakery']', '['Bar', 'Pub']', '['Bar', 'Café']',
       '['Pub', 'Bar']', '['Beverage Shop']', '['Bakery']', '['Wine Bar']',
       '['Bar', 'Fine Dining']', '['Casual Dining', 'Fast Food']', '['Club']',
       '['Dessert Parlour', 'Food Court']', '['Café', 'Food Court']',
       '['Pub', 'Club']', '['Café', 'Beverage Shop']',
       '['Food Court', 'Café']', '['Fast Food', 'Food Court']',
       '['Food Court', 'Fast Food']', '['Club', 'Pub']', '['Bar', 'Club']',
       '['Dessert Parlour', 'Fast Food']', '['Club', 'Casual Dining']',
       '['Beverage Shop', 'Food Court']', '['Casual Dining', 'Food Stall']',
       '['Fast Food', 'Bar']', '['Bakery', 'Food Court']',
       '['Café', 'Fast Food']', '['Fast Food', 'Casual Dining']',
       '['Bakery', 'Casual Dining']', '['Fast Food', 'Food Truck']',
       '['Beverage Shop', 'Dessert Parlour']', '['Food Stall']',
       '['Food Court', 'Beverage Shop']'],
      dtype='object')

### Convert string to list

In [38]:
input_list = "['asd', 'aste', 'yrty']"
array_of_strings = literal_eval(input_list)

print(array_of_strings)
print(type(array_of_strings))
array_of_strings[0]

['asd', 'aste', 'yrty']
<class 'list'>

'asd'